[2020-03-11 19:54] orlangure opened #1 "Support containers with multiple exposed ports"
Containers like splunk enterprise expose multiple ports, while `gnomock.Preset` interface only allows to expose one.

[2020-03-13 16:44] orlangure opened #2 "Docker image for testing"
This image should expose multiple TCP/UDP ports to allow new multiport feature testing.

[2020-03-13 21:23] orlangure commented on #2
Done: https://hub.docker.com/repository/docker/orlangure/gnomock-test-image

[2020-03-13 21:23] #2 closed

[2020-03-13 21:46] orlangure commented on #1
Done: https://github.com/orlangure/gnomock/commit/14a4b2bcff35e5aa802cf0502fdf62fd882e7c47

[2020-03-13 21:46] #1 closed

[2020-03-14 21:56] orlangure opened #4 "Allow to override Preset options"
When using `gnomock.StartPreset(preset)`, there is no way to override options set by preset. Sometimes it might be useful (maybe not now, but in future). Signature should be changed to accept `gnomock.Option` functions in the end.

[2020-03-19 19:16] orlangure opened #5 "Cleanup dangling docker volumes"
When running tests using `gnomock-redis`, there are leftover volumes in the system after the tests finish.

[2020-03-19 19:47] #5 closed

[2020-03-19 20:12] #4 closed

[2020-03-21 17:05] orlangure opened #8 "Attach docker output on failed container starts"
When a container fails to start, no output is returned to the user, which makes it very hard to debug what is wrong. We should add any information we have from docker to the error message.

[2020-03-23 22:23] orlangure opened #9 "Print container logs on failure"
When containers go up, but fail to become available for different reasons, the user will have no way to understand what went wrong. In such cases I suggest to include container logs in the output.

[2020-03-26 13:58] orlangure opened #10 "Add localstack preset"
[localstack](https://github.com/localstack/localstack) allows to spin up many aws services locally. It would be nice to wrap this project with a Gnomock Preset.

[2020-03-27 16:46] orlangure commented on #8
I currently can't come up with steps to cause this type of failure, so I'm removing this issue from the next milestone and closing until the issue becomes a problem.

[2020-03-27 16:46] #8 closed

[2020-03-27 20:47] #9 closed

[2020-03-30 11:57] orlangure commented on #10
Done: https://github.com/orlangure/gnomock-localstack

[2020-03-30 11:57] #10 closed

[2020-05-09 11:20] orlangure opened #15 "Add debug mode"
Currently the only debug feature allows to print container logs to stdout. This is not enough. We need a way to print configuration used to setup every container, and to publish updates on every step in the pipeline. It might require implementing a separate log package, and/or accepting a logger from the outside.

[2020-05-09 11:27] orlangure opened #16 "Remove container on start/init failure"
Currently when a container is started, but then fails to become available, this container is returned to the caller alongside the error that occurred somewhere in the process. It requires the caller to always stop the container, even in case of errors, which looks and feels weird. On failure, containers should be stopped in case of errors.

[2020-05-23 09:26] orlangure opened #17 "Move image versions to each preset"
Since healthchecks/state setup can depend on image version, `tag` field must move from general options to preset options.

[2020-05-23 09:28] orlangure opened #18 "Implement basic authentication in gnomockd"
Currently any code running alongside `gnomockd` can access its API using unprotected HTTP endpoints. In theory, javascript running in browser can also try to access `localhost` and start a bunch of containers. To avoid this, at least some basic authentication should be added to `gnomockd`.

[2020-05-23 09:29] orlangure opened #19 "Add artifact upload on release"
Use github actions to build and upload gnomockd binary for every release. Initially macos and linux binaries should be supported at minimum.

[2020-05-23 21:13] orlangure opened #22 "Installation script for MacOS"
`gnomockd` should start automatically, for that it needs to have its own launch daemon. To allow easier setup, a script that downloads and configures everything could help.

[2020-05-23 21:14] orlangure opened #23 "Installation instructions/script for Linux"
`gnomockd` should start automatically, so it needs docs or a script that will allow it.

[2020-05-25 18:06] orlangure opened #24 "Merge all timeouts into one"
For simplicity, one timeout should be used when setting up Gnomock. Users should not care whether image pull timed out, or healthcheck, or init.

[2020-05-25 18:07] orlangure commented on #16
There should be an option to keep failed containers alive for debugging (should be available in swagger)

[2020-05-25 18:28] #16 closed

[2020-05-25 21:05] #24 closed

[2020-05-29 13:15] #17 closed

[2020-05-30 20:01] orlangure commented on #15
### Requirements

1. Tracking every internal step in `gnomock` Go package.
2. Tracking every step (request/response) in `gnomockd` - HTTP wrapper.
3. Tracking configuration used in every `start` action.

#### Go package debug mode

At the lowest level, `gnomock` should accept `Logger` implementation in `Start`/`StartCustom` calls. Maybe `gnomock.WithDebugMode(logger)`? When logger exists, `gnomock

[2020-06-05 14:44] orlangure opened #29 "Allow multiple WithQueriesFile options in presets"
Sometimes tests will require multiple sql files: one for schema, and one for data. Or maybe more. Currently each `WithQueriesFile` call replaces existing files. It should add files to the list instead.

[2020-06-12 07:37] orlangure commented on #19
This is no longer needed since `gnomockd` will run in a container. Docker image build will be handled in docker hub.

[2020-06-12 07:37] #19 closed

[2020-06-12 07:38] orlangure commented on #22
No longer needed, I'll add a generic explanation for `docker run` command to use `gnomockd` docker image.

[2020-06-12 07:38] #22 closed

[2020-06-12 07:38] orlangure commented on #23
No longer needed, I'll add a generic explanation for `docker run` command to use `gnomockd` docker image.

[2020-06-12 07:38] #23 closed

[2020-06-17 18:25] #15 closed

[2020-06-19 12:24] #29 closed

[2020-06-20 10:20] orlangure opened #40 "Prepare performance summary for presets"
As suggested in https://twitter.com/terrastruct/status/1274014435619663873, we should publish approximate times for spinning up every preset. Metrics should include start up time with image already available, and with image download in CI like github actions.

[2020-07-10 10:43] orlangure opened #42 "Fixed container names"
Allow using a fixed container name, either failing when a container already exists, or killing the existing container before starting.

[2020-07-16 14:46] orlangure opened #44 "Expose HTTP port in RabbitMQ preset"

[2020-07-18 14:34] liorhasson commented on #44
- **5672**, **5671**: used by AMQP 0-9-1 and 1.0 clients without and with TLS
- **15672**: HTTP API clients, management UI and rabbitmqadmin

[2020-07-18 15:56] #44 closed

[2020-07-18 16:52] #42 closed

[2020-07-29 23:13] dusansimic opened #48 "Add Memcached preset"
I've wanted a [Memcached](https://memcached.org/) (a simple Redis alternative) preset so I've implemented one and only then I realized I'm actually supposed to write a feature request 😅. [Here](https://github.com/orlangure/gnomock/pull/47) is the PR for the preset. This preset is based on Redis one since it has most of the same operations.

[2020-08-08 11:54] #48 closed

[2020-10-01 09:04] orlangure opened #52 "Implement MariaDB preset"
A short guide on implementing a new preset:
https://github.com/orlangure/gnomock/blob/master/CONTRIBUTING.md#new-presets

MySQL preset for inspiration:
https://github.com/orlangure/gnomock/tree/master/preset/mysql

The objective is to implement a new Preset that spins up MariaDB docker container, sets up its initial state (tables, data), waits for it to become ready and kills it in the end.

Pleas

[2020-10-01 09:08] orlangure opened #53 "Implement DynamoDB preset"
A short guide on implementing a new preset:
https://github.com/orlangure/gnomock/blob/master/CONTRIBUTING.md#new-presets

MySQL preset for inspiration:
https://github.com/orlangure/gnomock/tree/master/preset/mysql

The objective is to implement a new Preset that spins up DynamoDB docker container, sets up its initial state (user provided data), waits for it to become ready and kills it in the end.

[2020-10-01 09:10] orlangure opened #54 "Implement Cassandra preset"
A short guide on implementing a new preset:
https://github.com/orlangure/gnomock/blob/master/CONTRIBUTING.md#new-presets

MySQL preset for inspiration:
https://github.com/orlangure/gnomock/tree/master/preset/mysql

The objective is to implement a new Preset that spins up Cassandra docker container, sets up its initial state (user provided data), waits for it to become ready and kills it in the end

[2020-10-02 12:18] s-surineni commented on #54
Hi, Can I work on this issue?

[2020-10-02 12:23] orlangure commented on #54
Hi @s-surineni, sure! Thank you.
Let me know if you need any help getting started.

[2020-10-02 20:53] dusansimic commented on #52
Hi, I'd like to work on this one 😁.

[2020-10-02 20:56] orlangure commented on #52
Hi @dusansimic,
Sure, go ahead, you already know how to do it 😼
Thank you!

[2020-10-02 22:04] orlangure opened #58 "Elasticsearch preset"
This is a placeholder for Elasticsearch Preset issue that I am now working on.

[2020-10-03 05:32] imsk17 commented on #53
Hi, Can I work on this issue?

[2020-10-03 11:09] orlangure commented on #53
Hi, @imsk17! Of course. Thank you!
If you need any help getting started, I'm here to help.

[2020-10-03 11:51] orlangure opened #59 "Allow to import messages from file/directly in RabbitMQ Preset"
RabbitMQ Preset is missing a key feature: automated and simplified message ingestion upon startup. See [Kafka preset](https://github.com/orlangure/gnomock/blob/master/preset/kafka/options.go#L22-L36) for example:

[code]

Implementing this feature should allow users to provide a text file with messages in JSON format, or specify message objects directly using `WithMessages` option. When RabbitMQ c

[2020-10-04 09:00] dusansimic commented on #59
Hi again 😀, I'd like to work on this one too.

[2020-10-04 09:20] orlangure commented on #59
Thanks @dusansimic!

[2020-10-05 09:08] orlangure opened #63 "Implement InfluxDB preset"
A short guide on implementing a new preset:
https://github.com/orlangure/gnomock/blob/master/CONTRIBUTING.md#new-presets

MySQL preset for inspiration:
https://github.com/orlangure/gnomock/tree/master/preset/mysql

The objective is to implement a new Preset that spins up InfluxDB docker container, sets up its initial state (user provided data), waits for it to become ready and kills it in the end.

[2020-10-06 14:56] sh0rez opened #64 "Kubernetes preset"
It would be incredibly useful to have a Kubernetes preset, that spins up an empty cluster (maybe https://k3s.io/) and gives code access to it in some sort (https://github.com/kubernetes/client-go)?

[2020-10-06 17:21] orlangure commented on #64
Hi @sh0rez, great idea!
What would be your use case if there was such preset?
Would a single node cluster be enough with API access only?
Which options would be useful?

At this point I'm not even sure it would be possible to build such preset, but we definitely should gather requirement before getting to work 😼

[2020-10-06 21:49] #52 closed

[2020-10-06 21:50] #58 closed

[2020-10-09 09:58] imsk17 commented on #53
it seems this isn't easy. dynamodb requires structs before it makes a table.

[2020-10-09 11:07] orlangure commented on #53
@imsk17, that's fine!
I think we should go for quick wins, and having a working preset that creates a dynamodb container, even without initial data, would be great.

What do you think about narrowing the scope of this issue to implementing a preset that only has a working healthcheck function?

If in the future somebody requests initial setup, we handle it then.

[2020-10-11 13:05] sh0rez commented on #64
Hey @orlangure!

As a use-case, I am primarily looking at automatically testing tools like [Grafana Tanka](https://tanka.dev), which does application definition for Kubernetes. It uses a special language (Jsonnet) to define k8s objects and calls `kubectl` to apply afterwards.

I'd like to do some basic testing in CI, but many operations require a Kubernetes cluster, which is rather hard to get. It

[2020-10-11 18:57] orlangure commented on #64
@sh0rez,
Thanks for clarification, that's exactly what I thought your use case was.

I already made some progress in that direction, and now there is a docker image that I'll use in this new preset (https://github.com/orlangure/k3s-dind available at https://hub.docker.com/repository/docker/orlangure/k3s). it features a single node k3s cluster running in a container.

There will be a `Config` funct

[2020-10-12 20:47] #59 closed

[2020-10-13 09:22] dreamofboy commented on #64
I prefer charts + Dockerfile to deploy any a preset as a pod in k8s. A k8s cluster is out of the scope of this test framework.

[2020-10-13 09:27] dreamofboy opened #68 "A preset generator"
A preset generator is needed to help developers develop any customized presets, e.g., REST Api client/server, grpc client/server and so on. A generalized interface could be good enough.

[2020-10-13 16:11] orlangure commented on #68
Hi @dreamofboy, thanks for bringing this up.

This is what I had in mind for a while now, let me know if it is similar to what you ask for.

I wanted to build a small code-generation tool that when executed (e.g `$ generate preset jenkins`) will create new files and update existing files with the following changes:
1. New folder for a new preset at `preset/jenkins`
2. `preset.go`, `preset_test.go`

[2020-10-13 16:16] orlangure commented on #64
@dreamofboy,
We are not talking about deploying stuff into Kubernetes clusters, we want to have a lightweight cluster for tests, mostly for people that develop automation tools around Kubernetes. Say if you have a custom tool that triggers alerts based on pod statuses, you can test this tool using `k3s` preset.

[2020-10-15 11:36] imsk17 commented on #53
or maybe we can setup a withStructs() method?

[2020-10-15 11:39] orlangure commented on #53
I think it would complicate the development too much for the value it provides. If you'd like to work on initial data setup in dynamodb, I'd recommend to work on it as an independent task right after we merge a minimal working preset.

[2020-10-15 11:45] imsk17 commented on #53
okay! thats fine

[2020-10-15 20:56] orlangure opened #72 "Configure golangci-lint to skip some linters in test files"
Right now, there is a bunch of `// nolint:funlen` or `// nolint:bodyclose` comments in various tests. These comments tell golangci-lint to exclude the marked tests from linter reports.

Instead of marking each test file separately, there is a configuration of golangci-lint that we can set once in `.golangci-lint.yaml`. This configuration should apply to all test files.

Linters that should be disa

[2020-10-15 23:34] u5surf commented on #72
@orlangure
Hi, Can I work on this issue?

[2020-10-16 05:32] orlangure commented on #72
Hi @u5surf,
Sure, thank you!

[2020-10-16 15:08] orlangure opened #74 "Improve CircleCI builds (align with Github Actions)"
CircleCI builds: https://app.circleci.com/pipelines/github/orlangure/gnomock
CircleCI workflow configuration: https://github.com/orlangure/gnomock/blob/master/.circleci/config.yml

Github Actions configuration: https://github.com/orlangure/gnomock/blob/master/.github/workflows/test.yaml

##
Github Actions is the primary CI platform of this project. But many use CircleCI, and up until now Gnomock d

[2020-10-16 20:46] #72 closed

[2020-10-18 18:17] orlangure opened #76 "Support Elasticsearch v6 in Elasticsearch preset"
Until now I only tried to run Elasticsearch v7 in all tests, and elasticsearch client v7 is used for health checks and initialization. To allow testing earlier versions of elasticsearch, we should seamlessly support v6 images, and make needed adjustments transparently.

There is a chance that the code will work with elasticsearch v as-is. Or maybe we will only need to use a different package versi

[2020-10-20 19:38] #64 closed

[2020-10-20 19:41] orlangure commented on #64
@sh0rez, I merged the new preset, and will publish a new release in the next few days. If you wish, you can do some early stage testing against `master` branch.

If you have any questions or encounter bugs, feel free to reach out.

[2020-11-12 13:04] 0b01001110 commented on #74
Hello, maintainers!
Can I work on this issue?

[2020-11-12 13:07] orlangure commented on #74
Hi @0b01001110, of course, thank you!
Let me know if you have any questions.

[2020-12-09 11:49] #74 closed

[2020-12-09 21:32] #76 closed

[2020-12-13 06:38] checkaayush commented on #53
@imsk17 Are you still working on this?

[2020-12-14 10:25] imsk17 commented on #53
quite busy nowadays. you can do it if you want to

[2020-12-24 00:58] lanwen opened #89 "Bug: Localstack container doesn't stop"
**Describe the bug**
`gnomock.Stop(c)` does nothing

**To Reproduce**
I use https://github.com/onsi/ginkgo to write tests and faced an issue with active container even after stop was called

[code]

**Expected behavior**
Container should be gone

**Screenshots**
If applicable, add screenshots to help explain your problem.

When I execute the test, it gives me the log:
[code]

you can notice `shutd

[2020-12-24 01:07] lanwen commented on #89
Sorry, my fault

[code]

fixes everything.

However would reopen the ryuk question separately

[2020-12-24 01:07] #89 closed

[2020-12-24 01:13] lanwen opened #90 "Ryuk from testcontainers adoption"
Testcontainers have a really nice feature to cleanup stuff with help of
https://github.com/testcontainers/moby-ryuk
https://github.com/testcontainers/testcontainers-go/blob/master/reaper.go

Would you consider that in your library? Or maybe the question one step further - is it possible to adopt low-level testcontainers api under the hood? As I really like api of gnomock, however testcontainer mai

[2020-12-29 15:59] orlangure commented on #90
Hi @lanwen, sorry for late response.

Thanks for kind words about Gnomock😻

I like the idea behind `moby-ryuk`, I think it would improve Gnomock user experience, I'll just need to figure out how to address the problem you originally had.

`moby-ryuk` <-> `testcontainers-go` integration has some hard coded values, like delay for killing containers is always 10 seconds, and maybe port number is alwa

[2020-12-29 18:52] lanwen commented on #90
Testcontainers team is really nice and open for contributions or even the design changes if it's beneficial for users, so I'd suggest to discuss it directly within the repo first. I'd actually try to merge efforts and projects at some point, just need to figure out how to do that in a smooth way, as I feel it's a waste to maintain 2 parallel projects doing almost the same.

Regarding the adoption

[2021-01-08 20:14] orlangure opened #92 "CockroachDB preset"
CockroachDB is another database that would be great to support.

I suggest to discuss the requirement here before starting the work.

[2021-01-08 20:16] orlangure opened #93 "Yugabyte preset"
Yugabyte is another database that would be great to support.

I suggest to discuss the requirement here before starting the work.

[2021-01-08 20:25] orlangure commented on #92
@dosco, since you have much more experience with it, could you help to define the scope of this task?

You are already familiar with Gnomock, and it would be great if you addressed the following points:

- is there a way to run the container with username/password set during `docker run`? Or maybe is it OK to just run the database with passwordless root user?
- is there a way to set an initial dat

[2021-01-08 20:25] orlangure commented on #93
@dosco, since you have much more experience with it, could you help to define the scope of this task?

You are already familiar with Gnomock, and it would be great if you addressed the following points:

- is there a way to run the container with username/password set during `docker run`? Or maybe is it OK to just run the database with passwordless root user?
- is there a way to set an initial dat

[2021-01-08 22:16] #68 closed

[2021-01-08 22:18] orlangure commented on #68
I built an initial version of preset generator and updated our contribution guide:
https://github.com/orlangure/gnomock/blob/master/CONTRIBUTING.md#preset-generator

[2021-01-09 14:27] orlangure commented on #90
I took another look at this over the weekend, and at this moment I'm not sure it would be beneficial to begin `testcontainers` low level adoption. It's not the right timing, there are more important things for this project right now. I'm keeping it in mind though, and once the time is right, I'll give it another thought.

Regarding the cleanup, first I'd like to understand the problem better. I as

[2021-01-09 16:12] bsideup commented on #90
@orlangure Out of curiosity - would you say that Ryuk's API isn't simple enough? We tried to keep it as trivial as possible (while keeping all potential use cases in mind), and, frankly speaking, I am surprised to see a new project similar to Ryuk just for the sake of simpler (?) API 😅

[2021-01-09 16:38] orlangure commented on #90
Hi @bsideup,

Ryuk's API is pretty simple, but there are a couple of things I'd like to improve:
1. If I could remove the need to implement a custom communication protocol (writing into a connection and waiting for `ACK`), I'd go for it even though this is simple enough.
2. I'd like to have more control over when the containers are stopped. For example, I'd like at least a customizable timeout, or

[2021-01-10 21:52] orlangure opened #97 "Create a Github Action for gnomockd"
This is a placeholder task for the future implementation of gnomockd github action. This action should make it easy to run gnomockd for users in languages other than go.

[2021-01-13 07:49] dosco commented on #93
Working my way down the list of database integration test in GraphJin will take care of these two issues once I'm free to work on Cockroach and Yugabyte.

[2021-01-14 20:16] #90 closed

[2021-01-14 20:22] orlangure commented on #90
@lanwen, I merged container cleanup mechanism, for now without using adding any new dependencies. Again, this might change at some point.

[2021-01-20 09:04] nawa commented on #53
@orlangure
Why not to use DynamoDB from `localstack` and you decided to create a separate preset?

[2021-01-20 09:16] orlangure commented on #53
@nawa,
I think using the [official docker image](https://hub.docker.com/r/amazon/dynamodb-local) would be as close to the real thing as possible, probably closer than Localstack implementation.

Another factor is the API. Take Localstack S3 for example. We have `WithS3Files` option, which would be useless if you only need Localstack container to test SQS. Eventually the number of Localstack option

[2021-01-30 16:44] #92 closed

[2021-03-06 21:04] #97 closed

[2021-03-25 19:41] KoduIsGreat opened #100 "Bug: can't connect to container: canceled after error: %!w(<nil>)"
**Describe the bug**
Gnomock fails to connect to containers.  I've forked this repo and ran the tests in it and I  receive the same error as my own tests.
I suspect it has something to do with docker but i'm not sure what, these tests were working before i updated to the newest docker (prior to that I was a few major versions behind).
**To Reproduce**
For me,  and another colleague just running an

[2021-03-25 21:01] orlangure commented on #100
Hi and thanks for the report.

Can you try running the tests using `gnomock.WithDebugMode()` and `gnomock.WithLogWriter(os.Stdout)`?
It should allow to see what exactly goes wrong.

Also, there is a bug I'm working on that I thought was related only to gnomock running inside its own container, so just to eliminate this possibility, can you also try running the tests using https://github.com/orlang

[2021-03-25 22:15] orlangure commented on #100
I found the issue.

Apparently ports on host machine are not immediately allocated to the new containers. Most of the time when gnomock inspects fresh containers they already are assigned random ports on the host. It appears that sometimes docker needs a bit of extra time to setup the network, so I'm working on adding an internal retry mechanism that will wait until all the ports are ready.

[2021-03-26 14:02] KoduIsGreat commented on #100
I just tested the fixes your fixes and it worked, Thanks so much for the quick response. 💯

I also may have a preset to contribute that i'm using for a project i'll open a new issue for that.

[2021-03-26 14:07] KoduIsGreat opened #102 "Request: Implement Postgis Preset"
PostGIS is awesome and it would be great to have a preset for it, I've started one already that i'm using that works well enough for me but its probably not ready to be merged. I can submit a PR if you want to review.

[2021-03-26 17:15] orlangure commented on #100
Thanks for confirming.
I released the fix under v0.12.1 (https://github.com/orlangure/gnomock/releases/tag/v0.12.1)

[2021-03-26 17:15] #100 closed

[2021-03-26 17:26] orlangure commented on #102
Thanks for suggesting, it sounds great!

From what I see in your fork, there are only two differences from regular postgres:
- image changed to `postgis/postgis`
- there is a new query `create extension postgis` in a testdata file.

If these are the only differences, adding a new preset won't be hard at all. It will be tedious though because there won't be anything "interesting" to implement, only

[2021-03-30 17:35] KoduIsGreat commented on #102
@orlangure I can work on checking some of those boxes,  i'm a bit tied up right now with other projects but i should beable to dedicate more time to this relatively soon.

[2021-04-02 12:53] orlangure opened #103 "Pulsar preset"
This is a placeholder for Apache Pulsar preset.

Minimal version should be very straightforward since there appears to be a ready-to-use docker image:
[Running in docker](https://pulsar.apache.org/docs/en/standalone-docker/)

There should be initial state setup available similar to rabbitmq and kafka presets.

[2021-04-03 10:14] whatlimits opened #105 "Bug:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. If possible, include a minimal code snippet or post a direct link to a repository where the bug is clear and easy to reproduce.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expla

[2021-04-03 12:07] orlangure commented on #105
It looks like you opened this issue by accident, so I'm going to close it. Feel free to edit and comment to reopen, or open a new one instead.

[2021-04-03 12:07] #105 closed

[2021-04-05 00:26] whatlimits commented on #105
#- [ ] - - []()@![im****age](https://user-images.githubusercontent.com/77700817/113525636-0e1dfc80-9584-11eb-964e-9c531e338f3c.jpeg)****[]()

[2021-04-09 13:08] Kwutzke opened #106 "Bug: Gnomock is not working with a remote docker host"
**Describe the bug**
When starting the docker containers on a remote host (e.g. by setting DOCKER_HOST env var), the containers are starting just fine, but the host field of the container object is still set to localhost which leads to failing healthcheck

**To Reproduce**
- Set DOCKER_HOST to a valid remote host
- Run tests

**Expected behavior**
The container field host should be set to the remo

[2021-04-09 20:03] orlangure commented on #106
Hi @Kwutzke, thanks for the report!

You are right, external docker host wasn't supported, and [the docs](https://github.com/orlangure/gnomock#getting-started) mention that local docker daemon is required:

However, I tried to implement it in #107 so it would be possible to use Gnomock with remote docker hosts. For now this feature will be considered experimental, because I can't think of a good w

[2021-04-14 11:16] #106 closed

[2021-04-26 19:33] #63 closed

[2021-04-29 16:29] MaksimSkorobogatov opened #139 "Bug: DOCKER_HOST "unix:///run/user/1000/docker.sock" does not work"
**Describe the bug**
I have a rootless docker installation on localhost. I set env variable `DOCKER_HOST` to `"unix:///run/user/1000/docker.sock"`. Docker work and gnomock does not. If I'm not mistaken, this feature worked when the docker version was old in go.mod.

**To Reproduce**
Set environment variable `DOCKER_HOST="unix:///run/user/1000/docker.sock"` and run anything using gnomock.

**Expect

[2021-05-01 12:39] #139 closed

[2021-05-14 06:28] rohitkg98 opened #154 "Bug: Docker Daemon and Client version mismatch"
**Describe the bug**
Docker client does not negotiate API version. In machines with client version mismatch, one has to explicitly set `DOCKER_API_VERSION`

**To Reproduce**
- Try gnomock with different Docker Daemon and Client versions.

**Expected behavior**
Should negotiate the version and automatically set it.

**System (please complete the following information):**
 - OS: Linux, Ubuntu, Pop O

[2021-05-19 07:03] #154 closed

[2021-06-08 21:39] jf647 opened #188 "Unable to start image stored in private Docker repo"
**Describe the bug**

I am trying to bring up a custom container using gnomock.StartContainer().  The image is hosted on Google Container Registry (gcr.io), which requires authentication.

The container fails to start with the error:

[code]

`docker pull` for the same image works just fine however:

[code]

**To Reproduce**

[code]

**Expected behavior**

If `docker pull` works for a given image,

[2021-06-09 08:11] orlangure commented on #188
Hi @jf647, thanks for the report. I'll take a look in the next few days. Your research and recommendations will certainly help😼

[2021-06-09 20:48] orlangure commented on #188
@jf647,
I got to it a bit earlier than I thought. Can you give #190 a try before I merge it?

[2021-06-19 13:16] #188 closed

[2021-06-30 10:00] orlangure opened #208 "Bug: k3s preset stopped working after Github Actions environment update"
Tests started to fail on master, probably after the [latest release of github actions environments](https://github.com/actions/virtual-environments/releases/tag/ubuntu20%2F20210628.1).
[code]

[2021-06-30 11:22] orlangure commented on #208
Trying to debug here: https://github.com/orlangure/gnomock/pull/209

Builds pass on circleci and locally.

[2021-06-30 13:07] orlangure commented on #208
Reported the problem in https://github.com/actions/virtual-environments/issues/3673, waiting for the response.

[2021-07-01 21:15] #208 closed

[2021-07-06 07:37] zdunecki opened #215 "Request: More options for MySQL preset"
Hey,

I see awesome MySQL preset but at case in my company there are still missing some features. We need three things:
* Run in root mode.
* Don't choose database at start because we have multiple db's in single MySQL instance.
* Mount Docker volumes. We use internal cache for seeds and it's saved in Docker volume.

Here's a quick sneak peek what I'm talking about in code:
https://github.com/orla

[2021-07-06 07:50] orlangure commented on #215
Hi @zdunecki and thanks for the ideas (and for using Gnomock 😻)

Numbers 1 and 2 are great and fairly simple, I think these 2 features can be merged very soon. Everything just needs to be tested properly, at least the happy flows, and documented (including swagger spec for non-Go users).

Number 3 is also very useful, but requires a deeper look. There is a way to run gnomock inside a container to

[2021-07-06 09:36] zdunecki commented on #215
@orlangure

Thanks for reply.

Number 3 looks very easy to implement, I did it [here](https://github.com/orlangure/gnomock/compare/master...zdunecki:new-options-for-mysql-preset?expand=1#diff-4eec45b6a922746411c0f8aea183e30f77af1b0a5bea1688eaf343a5f9c23703R158).

Gnomock itself require Docker engine and volumes looks like passing volume id/name similar to `bind mount` but it's not a local path but

[2021-08-02 13:55] orlangure commented on #54
@albertoforcato, no, so far no updates from @s-surineni. Would you like to take over?
If not, I will get to it at some point.

[2021-08-02 15:41] albertoforcato commented on #54
@orlangure It could be great!

[2021-08-03 07:49] s-surineni commented on #54
Sorry, couldn't work on this. You can take over

[2021-08-03 14:30] orlangure commented on #54
@albertoforcato, which option would be great? You taking over the task, or me?😼

[2021-08-20 14:23] orlangure commented on #54
Released in [v0.16.0](https://github.com/orlangure/gnomock/releases/tag/v0.16.0)

[2021-08-20 14:23] #54 closed

[2021-09-15 11:35] kkHAIKE opened #292 "Request: need option to reuse container created before, and Preset need Clear/Reset method"
Create Container every test run, maybe waste a lot of time 😮‍💨(mariadb inited cost 1m+-)

[2021-09-16 09:18] orlangure commented on #292
Hi! Thanks for bringing this up.

To avoid creating a container multiple times I suggest using subtests (t.Run) or TestMain, and structuring the tests in a different way.

I'll look into a way to reset presets in a week when I'm back from vacation, but I think there isn't a reliable way to reset every preset to its original state without recreating it. You would need to guess every possible change

[2021-09-16 12:41] kkHAIKE commented on #292
some large business app want to use db from multi package.... 😭

i make PR for that, WIP now, add test and db preset support tomorrow
https://github.com/orlangure/gnomock/pull/294

[2021-09-17 02:47] kkHAIKE commented on #292
i think should use client check exist  myself..

[2021-09-17 02:47] #292 closed

[2021-09-25 14:54] orlangure commented on #292
@kkHAIKE, I see you closed the PR and this issue, so I assume you figured out how to solve your issue locally. Thanks.

[2021-09-26 02:40] kkHAIKE commented on #292
use this function
[code]

name is WithContainerName set

[2021-09-26 08:16] lesywix commented on #100
Hi @orlangure, I still meet the issue. I'm using Jenkins to run the test and mount docker.sock from localhost.

Here is the error msg:
[code]

[2021-09-26 08:24] shado1111w opened #302 "Request: Before pulling the image, check whether the local image exists."
**Describe the bug**
panic: can't start container: can't pull image: can't pull image: Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit

**To Reproduce**
Pull the image frequently.

**Expected behavior**
If the local image exists, do not pull it again.

[2021-09-26 19:35] orlangure commented on #302
Hi @shado1111w, thanks for reporting this.

I didn't think anybody would hit the limits, but I like the idea of allowing users to skip image download if possible.

I see you already started implementing this feature in your own fork, would you like to continue working on it until it can be merged here as well? The only thing I would ask is that the default behavior would be "always pull" the image

[2021-09-26 19:38] orlangure commented on #100
Hey @lesywix, thanks for your report.

Can you try adding debugging options to your tests just to see what exactly fails?

Use `gnomock.WithDebugMode()` option to print state updates and `gnomock.WithLogWriter(os.Stdout)` to print internal container logs.

[2021-09-27 06:10] lesywix commented on #100
Thanks for replying, here is my test script, it seems that the output is the same as before. Please enlighten me.
![image](https://user-images.githubusercontent.com/15158000/134851350-b44668bf-f92a-4029-85c1-949f0a8de1f5.png)

[2021-09-27 06:37] shado1111w commented on #302
You are right.

[2021-09-27 07:01] orlangure commented on #100
This code is a bit off, both options need to be passed as arguments to `gnomock.Start`:

[code]

[2021-09-27 09:48] lesywix commented on #100
Oh, sorry. I got the log.
[code]

[2021-09-27 09:50] lesywix commented on #100
I noticed that there have an env args: GNOMOCK_ENV=gnomockd.
After I added this env args, it seems still fail.
[code]

[2021-09-27 13:32] orlangure commented on #100
You shouldn't use `GNOMOCK_ENV=gnomockd`, it is an internal variable to indicate that gnomock itself runs inside a container.

To further debug the problem, can you try to connect to the running container using `mysql` client (or even telnet) using the address from the logs (e.g `127.0.0.1:49169` from the first example) from inside your jenkins instance?

Can you tell what is the address of docker

[2021-09-29 20:45] #302 closed

[2021-10-12 09:42] lesywix commented on #100
I try using `DOCKER_HOST=tcp://172.17.0.1:2375 go test -v`, it's ok now.

[2021-11-16 07:35] orlangure opened #356 "Localstack v0.13.0: support "available" status in addition to "running""
https://github.com/localstack/localstack/releases/tag/v0.13.0

There is a change in localstack project that changes start-up behavior and adds a new service status: available, in addition to running. Localstack healthcheck should accept both stats as the definition of "healthy" containers.

[2021-12-04 18:03] KoduIsGreat opened #376 "Question: using gnomock in CI/CD environment with go applications"
How would one use gnomocks go interface  in a ci/cd environment without using a docker in docker solution as many have pointed out the [pitfalls](https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/) of  doing something like docker in docker
I'm aware that you can also use gnomock  as a server for creating presets and starting them, but theres not much documentation on if thos

[2021-12-05 07:42] orlangure commented on #376
Hi,

Gnomock doesn't use docker-in-docker (except for k3s preset), it uses whatever docker daemon is available in the environment that calls `gnomock.Start`.

If your use case is to run `go test` from inside a container that you yourself create in CI, I suggest using a remote docker engine (with `DOCKER_HOST` environment variable, i.e `DOCKER_HOST=172.17.0.1 go test`), but you'll have to figure ou

[2021-12-17 13:55] #356 closed

[2022-01-07 16:43] orlangure commented on #376
I'm going to close the issue since it's been a month since the last comment.

[2022-01-07 16:43] #376 closed

[2022-02-10 06:49] kkHAIKE opened #436 "Bug: gnomock-cleaner not work well in M1(arm64)"
**Describe the bug**
StartCustom cleaner image maybe(random) hang at the M1 system.
docker logs print this
[code]

**To Reproduce**
Start any preset in M1

**Expected behavior**
work well

**System (please complete the following information):**
 - OS: MacOS
 - Version 12.2
 - Docker version 20.10.7

Please add arm64 platform docker images in the dockerhub

[2022-02-10 08:52] orlangure commented on #436
Hi, thanks for reporting this.

I don't have an M1 system to test this, but I guess simply building a multi-platform image for the cleaner should solve this.

Would you mind helping me to test this once I prepare an update?

[2022-02-12 02:28] kkHAIKE commented on #436
buildx can build multi-platform images
https://docs.docker.com/buildx/working-with-buildx/

i will try it monday

[2022-02-13 09:11] jayvdb opened #441 "Bug: gnomockd in github action 'services:' & 'container:' requires preallocated exposed port range"
**Describe the bug**
When using gnomockd as a [GitHub Actions "service container"](https://docs.github.com/en/actions/using-containerized-services/about-service-containers) outside the container needs to connect to not only the gnomockd port, but also the ports of the services it starts.

This works when using services on the default runner container, however it fails when the services are run on

[2022-02-14 04:05] kkHAIKE commented on #436
pretty good!

[2022-02-14 08:01] orlangure commented on #441
Hi @jayvdb and thank you for the report.

I don't fully understand the problem right away, so I'll need to spend some more time on this before I can get you a solution or any other response.

For now, can you explain in a few words why do you run gnomock server from using a service container? In github actions, there is docker daemon in regular runners, so gnomock (and the server using its own git

[2022-02-14 10:41] jayvdb commented on #441
@orlangure , "can start containers inside the same environment as the tests." is the problem.  This is only true if the tests are being run inside the GitHub Actions container.  This is great for some workflows, especially rather simple ones.

There are lots of reasons why running the tests directly in GitHub Actions is suboptimal, or not possible.
e.g. if I want to run the tests in something more

[2022-02-19 02:00] jayvdb commented on #441
Ya, that should work. I give it a whirl this w/e.

[2022-02-23 20:07] orlangure commented on #441
Hey @jayvdb, did you have a chance to try this out? I'd like to release this change, but it would be nice to get a confirmation from you first. Thanks.

[2022-04-08 13:20] #441 closed

[2022-04-08 13:22] orlangure commented on #441
@jayvdb, as I pointed out in #449, the explicit host port range is now supported in both direct and remote modes. Github specific usage is just one of the ways to use the feature, and I'll keep looking into adding an example CI job that demonstrates if (if it is even possible).

[2022-04-08 13:25] orlangure opened #501 "Add a CI job that uses github service containers feature"
As requested in #441, providing explicit ports in containers is now supported in both remote and direct invocations. However, we couldn't verify that it allows to setup gnomock containers using github service containers feature. There should be a new test/job that uses github service containers feature together with a remote gnomock server.

[2022-05-14 21:03] jayvdb opened #540 "New preset: jaeger, tracing backend"
https://github.com/jaegertracing/jaeger is a commonly used backend service for https://opentracing.io/ / https://opentelemetry.io/

https://hub.docker.com/r/jaegertracing/all-in-one/tags is a nice image which needs only one container.

[2022-05-18 16:46] jukomericki opened #545 "Bug: Healthcheck failed on running k3s preset example"
**Describe the bug**
I wanted to try and use the k3s preset as it seemeed very developer friendy, but on running the preset_test.go a healthcheck failed is repeatedly logged, more precisely kubeconfig cannot be found

**To Reproduce**
To reproduce clone the repo and `go test preset_test.go`

**Expected behavior**
An expected behaviour would be to fetch the kube config succesfullyy

**Screenshots**

[2022-05-18 21:08] orlangure commented on #545
Hi @jukomericki, sorry to hear that you had issues with k3s preset😿

Do you use MacOS on arm64 architecture? I think the issue might be caused by poor performance of amd64 docker images on arm64 systems. I'll have to rebuild k3s preset images for both architectures (if possible). I'll try to work on this next weekend.

[2022-05-19 07:44] jukomericki commented on #545
@orlangure I have amd64 arch.
Thank you I'll be the first one to try the rebuilt presets 😄

[2022-05-27 20:26] orlangure commented on #545
Hi @jukomericki,

Since you have amd64 macos, using rebuilt images won't help. Anyway, I tried building the images for arm64 architecture (I use it...) and it appears that k3s-in-docker doesn't work at all on arm64.

Would you mind adding the following options to your code?
[code]

Please share the complete logs after you try this out. We might see something useful from internal container logs. No

[2022-06-15 02:25] koolay opened #565 "Request: Custom the image of preset"
I can't see how to  custom the image of mysql.

[2022-06-15 07:56] orlangure commented on #565
Hi @koolay,

If you need to provide the version of mysql image, use `mysql.WithVersion()` option when creating a new preset instance.

If you need to use a custom docker image for some reason (which may not work since it was never tested), you can use something like this:
[code]

[2022-06-15 15:50] koolay commented on #565
@orlangure

The default preset of mysql is not work on the mac m1.
I need to custom the image with `mysql/mysql-server:8.xxx-aarch64`.

[2022-06-18 13:32] #565 closed

[2022-06-18 13:33] orlangure commented on #565
Thank you for raising this issue, I'm releasing a new version where mysql preset should work on both amd64 and arm64 architectures.

[2022-10-17 15:09] devuo opened #691 "Request: allow use of already previous test session Docker containers"
**Context:**
Starting Docker containers can take from a few seconds to some minutes depending on the Docker image being used.
The current implementation forcefully kills containers if there is already one running with the same container name. This impedes the ability of setting up a faster test workflow for developers to do so: the re-use of the same container in different test runs.

**Proposal:*

[2022-10-17 15:11] devuo commented on #691
I'm more than happy to implement this myself and open a PR, but first would need to know if this functionality is something that you'd find OK to be added to gnomock @orlangure

[2022-10-17 16:55] orlangure commented on #691
Hi @devuo, I like the idea!

I can already see two scenarios that we might need to support:
1. `WithContainerReuse` or `WithExistingContainer` that simply translates container information into `gnomock.Container` object that can be used in tests (with all the `c.DefaultAddress` goodies). The setup in this case is basically zero.
2. `WithContainerReset` or something like this for cases where the co

[2022-10-17 19:21] devuo commented on #691
That's great to hear 😀! Do you want me to take a hand at it, or will you implement it?

[2022-10-17 20:29] orlangure commented on #691
If you can, please go ahead. 😼
Thank you.

[2022-10-20 17:44] orlangure commented on #691
The first step is now merged, and I'll create a new release soon, thanks to @devuo 😻

I really liked the second, much more complex feature mentioned here, I think it would be great to start thinking about it as well. I'll give it a thought in the background, and I hope somebody can offer some help with defining the feature a bit better so we can proceed to actually implementing per-preset cleanups

[2022-10-22 10:37] orlangure commented on #691
I submitted a first draft of how the reset feature (continuation of reuse) can look like.
Here is the postgres reset implementation as an example: #699

The naive way is to provide a single cleanup function, that can do any work
[code]

It works good for postgres since there should be an easy way to drop almost everything and restore with `init` function provided by the preset. A single function f

[2022-10-24 10:38] devuo commented on #691
Hey @orlangure that's great, will give feedback in the next day or two 🙏

[2022-11-02 12:33] brurucy opened #713 "New Option: Entrypoint"
It _quite often_ occurs that you may want to change the `ENTRYPOINT` of an image.

A classic use-case is in encasing the original endpoint into `sh -c` as an argument, to run other commands before the original entrypoint.

I implemented that on https://github.com/orlangure/gnomock/pull/711

[2022-11-04 14:41] orlangure commented on #713
Done via #711

[2022-11-04 14:41] #713 closed